<div class="card">
    <div class="card-header">
        <h5>Chỉnh sửa Sản Phẩm</h5>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
                <form method="post" action="/Users/Update">
                    <div class="form-group">
                        <input id="update" name="id" value="@Model.Id" type="hidden" />
                        <label>FirstName: <span class="text-danger">*</span></label>
                        <input name="firstname" value="@Model.FirstName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>LastName:</label>
                                <input name="lastname" value="@Model.LastName" type="text" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label>Email:</label>
                                <input name="email" value="@Model.Email" type="text" class="form-control">
                            </div>
                        </div>
                    </div>

               @*     @{
                        var isCheckedActive = Model.Status ? "checked" : string.Empty;
                        var isCheckedInActive = !Model.Status ? "checked" : string.Empty;
                    }
                    <div class="form-group">
                        <input name="gender" value="True" type="radio" @isCheckedActive />
                        <span> Nam</span>
                        <br />
                        <input name="gender" value="False" type="radio" @isCheckedInActive />
                        <span>Nữ</span>
                    </div>
*@ 
               
                <input name="file" value="@Model.Image" type="file" />
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-info ">Update</button>
                </div>
            </form>
        </div>
        <div class="col-sm-3"> </div>
    </div>
    <div>
        <a type="button" href="/Users" class="btn btn-default">Back</a>
    </div>
</div>
</div>