@using MyWeb2023.Models.Dto;
@using Myweb.Domain.Models.Entities;
@model List<ProductDto>

<div class="card">
    <div class="card-header">
        <h5>Quản Lý Sản Phẩm</h5>
        <div class="row">
            <div class="col-sm-3">
                <a href="/Products/Create" class="btn btn-success btn-sm">Add Product</a>
            </div>
            <div class="col-sm-3">
                <form method="get" action="/Products/Index">
                    <select name="sort" class="form-control btn-md">
                        <option>Lọc</option>
                        <option value="price_asc">Giá Thấp -> Cao</option>
                        <option value="price_desc">Giá Cao -> Thấp</option>
                    </select>
                    <button type="submit">Lọc</button>
                </form>
            </div>
            <div class="col-sm-3">
                <form class="d-flex">
                    <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Image</th>
                        <th>ProductName</th>
                        <th>Brand</th>
                        <th>Price ($)</th>
                        <th>Discount (%)</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">1</th>
                            <td> <img src="/data/@item.Id/@item.Image" width="50" height="50" /> </td>
                            <td>@item.Name</td>
                            <td>@item.Brand</td>
                            <td>@item.Price</td>
                            <td>@item.Discount</td>
                            @if (item.Status)
                            {
                                <td><span class="badge badge-success">Còn Hàng</span></td>
                            }
                            else
                            {
                                <td><span class="badge badge-danger">Hết Hàng</span></td>
                            }
                            <td>
                                <a href="/Products/Update/@item.Id" type="button" class="btn btn-info btn-sm">Edit</a>
                                <input form="form-delete-@item.Id" name="Id" value="@item.Id" type="hidden" />
                                <button form="form-delete-@item.Id" type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </td>
                        </tr>
                        <form id="form-delete-@item.Id" action="@Url.Action("Delete","Products")" method="post">
                        </form>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

