@using Myweb.Domain.Models.Entities;
@model Product
@{
    var isCheckedActive = Model.Status ? "checked" : string.Empty;
    var isCheckedInActive = !Model.Status ? "checked" : string.Empty;
}

<div class="card">
    <div class="card-header">
        <h5>Chỉnh sửa Sản Phẩm</h5>
    </div> 
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
                <form method="post" action="/Products/Update">
                    <div class="form-group">
                        <input id="update" name="id" value="@Model.Id" type="hidden"/>
                        <label>Tên sản phẩm <span class="text-danger">*</span></label>
                        <input name="name" value="@Model.Name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Giá*:</label>
                                <input name="price" value="@Model.Price" type="text" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label>Tỷ lệ giảm giá:</label>
                                <input name="discount" value="@Model.Discount" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <span class="input-group-text">Status</span>
                    <br />
                    <div class="form-group">
                        <input name="status" value="True" type="radio" @isCheckedActive />
                        <span> Hoạt động</span>
                        <br />
                        <input name="status" value="False" type="radio" @isCheckedInActive />
                        <span>Không hoạt động</span>
                    </div>

                    <div class="form-group">
                        <input name="file" value="@Model.Image" type="file" />
                    </div>
                    <a type="button" href="/Products" class="btn btn-default">Back</a>
                    <button type="submit" class="btn btn-info">Update</button>
                </form>
            </div>
            <div class="col-sm-3"> </div>
        </div>
    </div>
</div>