@using MyWeb2023.Areas.Admin.Models.Dto
@using Myweb.Domain.Common;
@using Myweb.Domain.Models.Entities

@model List<OrderDto>

<div class="card">
    <div class="card-header">
        <h5>Order Management</h5>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>OrderId</th>
                        <th>OrderDate</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Payment</th>
                         <th>Payment Status</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var stt = 0;
                    }
                    @{
                        foreach (var item in Model)
                        {
                            stt = stt + 1;
                            <tr>
                                <th scope="row">@stt</th>
                                <td>#@item.Id</td>
                                <td>@item.OrderDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                <td>@item.Address</td>
                                <td>+84 @item.Phone</td>
                                <td>@item.Payment</td>
                                <td>
                                @{
                                        if (item.PaymentStatus == "Paid")
                                        {
                                            <label class="badge badge-success">@item.PaymentStatus</label>
                                        }
                                        else
                                        {
                                             <label class="badge badge-info">@item.PaymentStatus</label>
                                        }
                                }
                                </td>

                                
                                @{
                                    if (item.StatusName == ORDER_STATUS.Processing.Name 
                                        || item.StatusName == ORDER_STATUS.Pending.Name)
                                    {
                                        <td><span class="badge badge-warning text-white">@item.StatusName</span></td>
                                    }
                                    if (item.StatusName == @ORDER_STATUS.Shipping.Name)
                                    {
                                        <td><span class="badge badge-primary">@item.StatusName</span></td>
                                    }
                                    if (item.StatusName == @ORDER_STATUS.Delivered.Name)
                                    {
                                        <td><span class="badge badge-success">@item.StatusName</span></td>
                                    }
                                    if (item.StatusName == @ORDER_STATUS.Cancelled.Name)
                                    {
                                        <td><span class="badge badge-danger">@item.StatusName</span></td>
                                    }
                                }
                               <td>
                                    <a href="/Admin/Order/Update/@item.Id" type="button" class="btn btn-info btn-sm">Detail</a>

                               </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

