@using MyWeb2023.Areas.Admin.Models.Dto;
@using Myweb.Domain.Models.Entities;
@model List<ProductDto>
@{
    List<int> pages = new List<int> { 1, 2, 3, 4, 5 };
    int currentPage = ViewBag.Page;
}
<script>
    function reloadPage() {
        window.location.reload()
    }
    function DeleteProduct(id) {
        axios.post('/products/DeleteProduct', {
            'id': id
        }, {
            headers: {
                'content-type': 'application/x-www-form-urlencoded'
            }
        })
            .then(function (response) {
                console.log(response);
                reloadPage();
            })
    }
    function confirmDelete(id) {
        console.log("confirmDelete", id);
        Swal.fire({
            title: 'Bạn có muốn xóa không ?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'OK'
        }).then((result) => {
            if (result.isConfirmed) {
                DeleteProduct(id);
            }
        })
    }
</script>
<div class="card">
    <div class="card-header">
        <h5>Product Management</h5>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3">
                <a href="/Admin/Products/Create" class="btn btn-info btn-sm">Add</a>
            </div>
            <div class="col-sm-3">
                <form method="get" action="/Products/Index">
                    <select name="sort" class="form-control btn-md">
                        <option>Lọc</option>
                        <option value="price_asc">Giá Thấp -> Cao</option>
                        <option value="price_desc">Giá Cao -> Thấp</option>
                    </select>
                </form>
            </div>
            <div class="d-flex">
                <button class="btn btn-info btn-sm" type="submit">Filter</button>
            </div>
            <div class="col-sm-3">
                <form class="d-flex">
                    <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>Discount (%)</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">1</th>
                            <td> <img src="@item.Image" width="50" height="50" /> </td>
                            <td>@item.Name</td>
                            <td>@item.BrandName</td>
                            <td>@item.Price</td>
                            <td>@item.Discount</td>
                            @if (item.Status)
                            {
                                <td><span class="badge badge-success">Stocking</span></td>
                            }
                            else
                            {
                                <td><span class="badge badge-danger">Out of stock</span></td>
                            }
                            <td>
                                <a href="/Admin/Products/Update/@item.Id" type="button" class="btn btn-info btn-sm">Edit</a>
                                <input form="form-delete-@item.Id" name="Id" value="@item.Id" type="hidden" />
                                <button class="btn btn-danger btn-sm" onclick="confirmDelete('@item.Id')">Delete</button>
                            </td>
                        </tr>
                       
                    }
                </tbody>
            </table>
      
        </div>
        
    </div>
    <div class="card-block">
        <div >
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new {page = currentPage - 1})">Previous</a>
                    </li>

                @{
                    foreach (var item in pages)
                    {
                        var active = currentPage == item ? "active" : "";
                        <li class="page-item @active">
                        <a class="page-link" href="@Url.Action("Index", new {page = item})">@item</a>
                        </li>
                    }
                }
                <li class="page-item"><a class="page-link" href="@Url.Action("Index", new {page = currentPage + 1})">Next</a></li>
            </ul>

        </div>
        </div>
    </div>
</div>

