@using MyWeb2023.Areas.Admin.Models.Dto;
@using Myweb.Domain.Models.Entities;
@model Product
@{
    List<ComboboxDto> brands = ViewBag.Brands;
    var isCheckedActive = Model.Status ? "checked" : string.Empty;
    var isCheckedInActive = !Model.Status ? "checked" : string.Empty;
}

<div class="card">
    <div class="card-header">
        <h5>Edit Products</h5>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
                <form method="post" action="/Admin/Products/Update" enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="update" name="id" value="@Model.Id" type="hidden" />
                        <label>Tên sản phẩm <span class="text-danger">*</span></label>
                        <input name="name" value="@Model.Name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Price *:</label>
                                <input name="price" value="@Model.Price" type="text" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label>Discount:</label>
                                <input name="discount" value="@Model.Discount" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <span class="input-group-text">Status</span>
                    <br />
                    <div class="form-group">
                        <input name="status" value="True" type="radio" @isCheckedActive />
                        <span>Stocking</span>
                        <br />
                        <input name="status" value="False" type="radio" @isCheckedInActive />
                        <span>Out of stock</span>
                    </div>

                    <div class="form-group">
                        <label>Brand</label>
                        <select class="form-control" name="brandId">
                            <option value="">Chọn</option>
                            @{
                                var brand = Model.BrandId;
                                foreach (var item in brands)
                                {
                                    //var abc = currentPage == item ? "active" : "";
                                    var abc = brand == item.Id ? "selected" : "";
                                    <!option @abc value="@item.Id">@item.Name</!option>
                                }
                            }
                        </select>
                    </div>

                    <div id="editor"></div>
                    <html lang="en">
                    <head>
                        <meta charset="utf-8">
                        <title>CKEditor 5 – Classic editor</title>
                        <script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>
                    </head>
                    <body>
                        <h1>Classic editor</h1>
                        <div id="editor">
                        </div>
                        <script>
                            ClassicEditor
                                .create(document.querySelector('#editor'))
                                .catch(error => {
                                    console.error(error);
                                });
                        </script>
                    </body>
                </html>

                <label>Image:</label>
                <div>
                    <img src="~/data/products/@Model.Id/@Model.Image" width="100px" height="100px" />
                </div>
                <br />
                <input name="file" value="@Model.Image" type="file" />

                <div class="form-group text-right">
                    <button type="submit" class="btn btn-info ">Update</button>
                </div>
            </form>
        </div>
        <div class="col-sm-3"> </div>
    </div>
    <div>
        <a type="button" href="/Admin/Products" class="btn btn-default">Back</a>
    </div>
</div>
</div>