@using MyWeb2023.Areas.Admin.Models.Dto;
@using Myweb.Domain.Models.Entities;
@model User
@{
    List<RoleDto> roles = ViewBag.Roles;
}
<div class="card">
    <div class="card-header">
        <h5>Edit User</h5>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
                <form method="post" action="/Admin/Users/Update" enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="update" name="id" value="@Model.Id" type="hidden">
                        <input name="password" value="@Model.Password" type="hidden">
                        <label>FirstName: <span class="text-danger">*</span></label>
                        <input name="firstname" value="@Model.FirstName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>LastName:</label>
                                <input name="lastname" value="@Model.LastName" type="text" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label>Email:</label>
                                <input name="email" value="@Model.Email" type="text" class="form-control" readonly>
                            </div>
                        </div>
                    </div>

                    @{
                        var isCheckedActive = Model.Gender is true  ? "checked" : string.Empty;
                        var isCheckedInActive = Model.Gender is false ? "checked" : string.Empty;
                    }
                    <div class="form-group">
                        <input name="gender" value="True" type="radio" @isCheckedActive />
                        <span>Male</span>
                        <br />
                        <input name="gender" value="False" type="radio" @isCheckedInActive />
                        <span>Female</span>
                    </div>
                    <div class="form-group">
                    <label>Roles</label>
                    <select class="form-control" name="roleId">
                    <option value="">Chọn</option>
                            @{
                                foreach (var item in roles)
                                {
                                    var sele = Model.RoleId == item.Id ? "selected" : "";
                                    <option @sele value="@item.Id">@item.Name</option>
                        }
                    }
                    </select>
                    </div>
                    <label>Image:</label>
                    <div>
                        <img src="~/data/users/@Model.Id/@Model.Image" width="100px" height="100px" />
                    </div>
                    <br />
                    <input name="file" value="@Model.Image" type="file" />
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-info ">Update</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-3"> </div>
        </div>
        <div>
            <a type="button" href="/Admin/Users" class="btn btn-default">Back</a>
        </div>
    </div>
</div>